:root {
  --min-margin: 8px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: coral;
}

nav {
  margin: 0px calc(var(--min-margin) * 4);
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li {
  margin: var(--min-margin);
}

main {
  margin: 0px calc(var(--min-margin) * 4);
}

form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

textarea {
  resize: none;
  font-family: sans-serif;
}

.vote.up.active {
  background-color: red;
}

.comment {
  margin: 8px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
}

article.post {
  display: flex;
  align-items: flex-start;
  border: 1px solid black;
  border-radius: 4px;
  margin: calc(var(--min-margin) * 3) 0px;
}

div.votes {
  margin: var(--min-margin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.content {
  margin: var(--min-margin);
  display: flex;
  flex-direction: column;
}

div.content * {
  margin: calc(var(--min-margin) / 2) 0px;
  margin-top: 0;
}
