:root {
  --blue: rgb(85, 190, 255);
  --orange: coral;
}

body {
  margin: 16px;
  font-family: sans-serif;
}

form {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

form * {
  margin: 8px 0px;
}

a {
  text-decoration: none;
  color: rgb(85, 190, 255);
}

header {
  margin: 8px 0px;
}

h1 {
  font-size: 3rem;
  margin-top: 8px;
  margin-bottom: 16px;
}

label {
  font-weight: bold;
}

textarea {
  resize: none;
  font-family: sans-serif;
}

/*navigation*/

nav {
  margin: 8px 0px 16px 0px;
}

nav a {
  color: black;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

li.nav-item {
  padding: 4px;
  margin: 0px 8px;
  transition: transform 0.1s ease-in-out;
  border-radius: 4px;
}

li.nav-item:first-child {
  margin-left: 0;
}

li.nav-item:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 4px;
}

li.nav-item.active {
  transform: scale(1.1);
  box-shadow: 1px 1px 4px;
  font-weight: 900;
}

/* buttons */

button:focus {
  outline: none;
}

button,
.button {
  color: black;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  font-size: 0.8rem;
  padding: 4px;
  margin-left: 0px;
  margin-right: 8px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  border: 0.5px lightgray solid;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

button:hover,
.button:hover {
  box-shadow: 1px 1px 3px;
  transform: scale(1.05);
}

.delete {
  background-color: rgb(201, 2, 2);
  color: white;
}
/* posts */

article.post * {
  margin: 8px 0px;
}

article.post {
  cursor: pointer;
  margin: 12px 0px;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px;
  display: flex;
  justify-content: flex-start;
  transition: transform 0.1s ease-in-out;
}

article.post:hover {
  transform: scale(1.005);
}

article.post h1 {
  font-size: 2rem;
}

div.votes {
  width: fit-content;
  height: fit-content;
  margin-left: 0px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.content {
  margin: 0px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button.vote {
  font-size: 1.3rem;
}

button.vote.active {
  color: coral;
}

/* post single */
article.post.grid {
  cursor: default;
  padding: 0px 16px;
  display: grid;
  grid-template-columns: 1fr;
}

article.post.grid:hover {
  transform: none;
}

form.full {
  max-width: 200px;
}

.top {
  display: flex;
  justify-content: flex-start;
}

.full {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.comment {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 16px;
  box-shadow: 1px 1px 4px;
  border-radius: 4px;
}

p.comment {
  font-size: 0.9rem;
}

/* login */

section.login {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

/* user profile */

section.profile {
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 1px 1px 3px;
}

section.profile img {
  width: 200px;
  height: 200px;
  margin: 0px 0px 16px 0px;
  border-radius: 8px;
  object-fit: cover;
}

ul.user-posts {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0px;
}

ul.user-posts li {
  width: fit-content;
  padding: 8px;
  margin: 8px 8px 8px 0px;
  box-shadow: 1px 1px 3px;
  transition: transform 0.1s ease-in-out;
}
ul.user-posts li:hover {
  transform: scale(1.05);
}
